:root {
    --bg-color: #35363a;
    --text-color: #e8eaed;
    --link-color: #8ab4f8;
    --font: sans-serif;
    --base-font-size: 14px;
}
body {
    background-color: var(--bg-color);
    font-family: var(--font);
    color: var(--text-color);
    font-size: var(--base-font-size);
}
#header-table {
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    padding-bottom: 1em;
    padding-top: 8px;
}
.fake-td {
    padding-right: 1em;
}
td {
    padding-right: 1em;
}
.deletebutton > img {
    visibility: hidden;
}
tr:hover > .deletebutton > img {
    visibility: visible;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
.block-header {
    padding-top: 34px;
    font-size: 24px;
    padding-left: 18px;
}
.header-class {
    font-size: calc(2 * var(--base-font-size));
}
.entrynumber {
    font-weight: bold;
    color: #bbb;
}
.deletebutton {
    padding-right: 0.4em;
}
.deletebutton:hover {
    cursor: pointer;
}
.tag {
    display: inline-block;
    padding: 0.2em;
    border: 1px solid blue;
    background-color: black;
    margin: 2px;
    font-size: 0.9em;
    cursor: pointer;
}
textarea {
    font-family: monospace;
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 90vw;
    height: 90vh;
}
