:root {
    --bg-color: #35363a;
    --text-color: #e8eaed;
    --link-color: #8ab4f8;
    --font: sans-serif;
    --base-font-size: 14px;
}
body {
    background-color: var(--bg-color);
    font-family: var(--font);
    color: var(--text-color);
    font-size: var(--base-font-size);
}
td {
    padding-right: 1em;
}
tr:hover > .deletebutton > svg {
    visibility: visible;
}
tr.firstinblock > td {
    padding-top: 2.5em;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
#header {
    font-size: calc(2 * var(--base-font-size));
}
.entrynumber {
    font-weight: bold;
    color: #bbb;
}
.deletebutton {
    padding-right: 0.4em;
}
.deletebutton > svg {
    visibility: hidden;
}
.deletebutton:hover {
    cursor: pointer;
}
